/*general*/
.container{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    h2{
        display: inline-block;
    }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: lightgrey;
}

/*header*/
header{
    background-color: white;
    height: 100px;
    
}

.logo{
    margin-top: 10px;
    width: 80px;
    margin-left: 30px;
    vertical-align: middle;
}

.font{
    vertical-align: middle;
    display: inline-block;
    }





/*main*/
.first-part{
}

.setting-main{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    }

.section-button{
    height: 70px;
    margin-top: 50px;
    border-radius: 5px 5px 0px 0px;
}

.button-structure{
    border-radius: 5px;
    height: 35px;
    margin-top: 25px;
    width: 80px;

}

.first-button{
    background-color: lightskyblue;
    color: white;
    border-color: transparent;
    margin-left: 50px;
}

.second-button{
    background-color: white;
    color: gray;
    border: 1px solid grey;
}


.second-setting-main{
    margin-top: 3px;
    background-color: white;
}

.setting-list{
    margin-top: 3px;
    margin-left: 50px;
    /*border: solid 2px black;*/
    padding-top: 25px;
}

.distanziatore{
    margin-top: 10px;
}

.list{
    list-style: none;
}


.setting-riga{
    line-height: 30px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.green{
    border: 1px green solid;
    color: green;
}

.red{
    border: 1px red solid;
    color: red;
}


.rettangoli{
    margin-left: 20px;
    border-radius: 10px;
    font-size: 10px
    height: 35px;
    width: 80px;
    color: white;
}

.ciano{
    background-color: blue;
}
/*footer*/